#awardHeader {
  text-align: center;

  color: white;

  margin: 15vh;

  font-size: 36px;
}

.awardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;

  /* border: 2px solid rebeccapurple; */

  position: relative;
  left: 7%;
  width: 86%;

  height: fit-content;

  margin-bottom: 30vh;
}

.awardBlock {
  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.awardsContainer a {
  margin-top: 10%;

  display: inline;

  text-decoration: none;

  background-image: linear-gradient(45deg, #6d6f78 100%, #6d6f78 0);
  background-position: 10% 0.9em;
  background-size: 100%;
  background-repeat: no-repeat;

  transition: all 0.4s ease;

  font-size: 16px;

}

.awardsContainer img {
  width: 104px;
  height: 104px;
}

.awardBlock:hover {
  cursor: pointer;
}

.awardBlock:hover a {
  background-image: linear-gradient(45deg, #103af0 100%, #103af0 0);
  background-position: 10% 0.5em;
}

@media (max-width: 990px) {
    #awardHeader{
        margin: 5vh;
    }

  .awardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }

  .awardsContainer img{
    width: 82px;
    height: 82px;
  }

  .awardsContainer a{
    margin-top: 5%;
  }
}
