h1{
  width: 100%;
  height: 100%;

  text-align: center;

  margin: 100vh 0 50vh 0;

  background-color: aquamarine;

  opacity: 0;
  transition: all 1.1s 200ms ease;
}

.slide-in{
  transform: translateY(250%);
}

.fade-in.appear{
  opacity: 1;
}

.slide-in.appear{
  transform: translateY(0);
}